.header{
    background-color: rgb(43, 153, 226);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px  ;
    background-color: #ffffff;
}

.logo img{
    height: 48px;
}
.nav-center ul{
    display: flex;
    gap: 2.5rem;
}
.nav-center,
.nav-right{
    font-size: 1.25rem;
}
.nav-center a:hover,
.nav-right a:hover{
    font-size: 1.25rem;
    color: violet;
}
.nav-right ul{
    display: flex;
    gap: 2.5rem;
}
.nav-right img{
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.5;
}